ion-card {
    margin: 15px;
    --border-radius: 10px;
    --background: #fff;
  }

  ion-avatar img {
    border-radius: 50%;
  }

  ion-button {
    margin-top: 2px;
    --background: rgb(0, 68, 255);
    color: white;
  }

  .boton-publicacion{
    display: flex;
    justify-content: center;
  }

  ion-modal {
    ion-content {
      padding: 20px;
    }
  }

  ion-content {
    position: relative;
    --background: none; /* Eliminar el fondo predeterminado */
  }

  ion-content::before {
    content: '';
    background: url('../../../img/d63ce8115fab52bec3dcc6e0c426a3da.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegura que esté detrás del contenido */
  }

