<ion-content class="contenedor-scroll">
  <h2 class="titulo-adopcion">TU PRÓXIMO AMIGO...</h2>
  <div class="galeria-scroll">
    <div class="card-scroll" *ngFor="let raza of razasPerros">
      <img [src]="raza.imagen || 'ruta/por_defecto.jpg'" alt="{{ raza.nombre }}" />
      <h2>{{ raza.nombre }}</h2>
      <p>Tamaño: {{ raza.tamano }}</p>
      <p>Carácter: {{ raza.caracter }}</p>
      <p>Promedio de vida: {{ raza.promedioVida }}</p>
      <ion-button slot="end" color="primary" (click)="agregarAFavoritos(raza)">
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
