<ion-content>
  <div class="titulo-inicio">
    <h1>Bienvenidos a PetFinder</h1>
  </div>
  <div class="parrafo-inicio">
    <p>En PetFinder, nuestro objetivo es ayudar a reunir perros perdidos con sus dueños. 
      Esta plataforma permite a los usuarios publicar avisos de perros perdidos y encontrados, 
      facilitando la búsqueda y la comunicación entre quienes han perdido a su mascota y quienes puedan 
      haberla encontrado. Creemos en el poder de la comunidad para hacer que los reencuentros sean más rápidos y
      efectivos. ¡Únete a nosotros y ayudemos a que cada mascota regrese a casa!</p>
  </div>
  <div class="boton-perdidos">
    <ion-button (click)="navegarAPerrosPerdidos()">Perros perdidos</ion-button>
  </div>
  <div class="boton-encontrados">
    <ion-button (click)="navegarAPerrosEncontrados()">Perros encontrados</ion-button>
  </div>
</ion-content>