/* Estilos existentes */
ion-button img {
    width: 20%;
  }
  
  ion-content ion-title {
    color: orange;
    padding-left: 50px;
  }
  
  ion-button.botonCerrarSesion {
    border-radius: 5px;
    display: flex;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    --background: rgb(245, 188, 84);
  }
  
  ion-button.botonInicio:hover {
    --background: rgb(245, 217, 165);
  }
  
  /* Nuevos estilos para el perfil */
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinear los elementos al centro */
    padding: 20px;
  }
  
  .profile-header {
    display: flex; /* Usar flexbox para alinear la foto y el icono */
    align-items: center; /* Centrar verticalmente */
  }
  
  .profile-photo {
    width: 100px; /* Ajusta el tamaño según se necesite */
    height: 100px; /* Ajusta el tamaño según se necesite */
    border-radius: 50%; /* Hace que la imagen sea redondeada */
    margin-right: 10px; /* Espacio entre la foto y el icono */
  }
  
  .edit-icon {
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    font-size: 24px; /* Ajusta el tamaño del icono */
    color: orange; /* Cambia el color del icono, si lo deseas */
  }
  
  .botonCerrarSesion {
    margin-top: 20px; /* Espacio superior para el botón */
  }
  
  ion-content {
    position: relative;
    --background: none; /* Eliminar el fondo predeterminado */
  }
  
  ion-content::before {
    content: '';
    background: url('../../assets/Dog_face_pattern_and_bones.jpg') no-repeat center center/cover;
    opacity: 0.30; /* Aplica opacidad solo a la imagen */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegura que esté detrás del contenido */
  }