<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="userData" class="profile-container">
    <div class="profile-header">
      <img *ngIf="userData.foto; else defaultImage" [src]="userData.foto" alt="Foto de perfil" class="profile-photo" />
      <ng-template #defaultImage>
        <img src="../../assets/icon/perfil.png" alt="Foto de perfil predeterminada" class="profile-photo" />
      </ng-template>
      <!-- Ícono para editar foto de perfil -->
      <ion-icon name="pencil" class="edit-icon" (click)="presentActionSheet()"></ion-icon>
    </div>
    <h2>{{ userData.nombre }} {{ userData.apellido }}</h2>
    <p>Email: {{ userData.email }}</p>
    <p>Teléfono: {{ userData.telefono }}</p>
  </div>

  <ion-button class="botonCerrarSesion" (click)="logout()">
    <ion-icon aria-hidden="true" name="log-out"></ion-icon>
    <ion-label>Cerrar Sesión</ion-label>
  </ion-button>
</ion-content>
