<ion-content class="fondo">
  <div class="container">
    <!-- Imagen izquierda tipo mockup -->
    <div class="imagen-izquierda">
      <img src="../../assets/Logotipo Protectora Animal Delicado Crema y Negro (3)-Photoroom.png" alt="SpotPet App Preview" />
    </div>

    <!-- Sección central con logo y botón -->
    <div class="contenido-central">
      <!-- Logo arriba del texto -->
      <img
        class="logo"
        src="../../assets/icon/Logotipo_Protectora_Animal_Delicado_Crema_y_Negro-removebg-preview.png"
        alt="Logo"
      />
      <h1 class="titulo">PetFinder</h1>

      <!-- Botón reutilizado -->
      <ion-button class="botonInicio" (click)="login()">Iniciar Sesión</ion-button>
    </div>
  </div>
</ion-content>