<ion-content class="fondo">
  <div class="login-container">
    <!-- Sección derecha: logo, título y botón -->
    <div class="login-content">
      <img class="logo" src="../../assets/icon/Logotipo_Protectora_Animal_Delicado_Crema_y_Negro-removebg-preview.png" alt="Logo" />
      <h1 class="titulo">PetFinder</h1>
      <p class="subtitulo">Unite a la comunidad que ayuda a reencontrar mascotas perdidas</p>

      <ion-button class="botonInicio" expand="block" shape="round" (click)="login()">Iniciar Sesión</ion-button>
    </div>

  </div>
</ion-content>
